*.txt
*.log
*.xlsx
*.csv
**.ppt
**.pptx
*bak
*bak/
*.bak
*tmp/
*outputs*
*demo*
*.md
*.iss
*bat
*.env*
tmp*
*pyc*
*.zip
dataP**
**.DS_Store
node_modules**


*output*/
issues*/*
storage*/*


/generated/prisma
*.db
*.db-journal
tsconfig.tsbuildinfo
